<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjut.zjone.dao.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.tjut.zjone.dao.entity.UserDO">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="studentID" column="student_id" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="qq" column="qq" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="major" column="major" jdbcType="VARCHAR"/>
            <result property="className" column="class_name" jdbcType="VARCHAR"/>
            <result property="wills" column="wills" jdbcType="VARCHAR"/>
            <result property="isDispensing" column="is_dispensing" jdbcType="TINYINT"/>
            <result property="deletionTime" column="deletion_time" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,student_id,name,
        username,password,qq,
        phone,major,class_name,
        wills,is_dispensing,deletion_time,
        create_time,update_time
    </sql>
</mapper>
